# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db

# Virtual environment
venv/
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db

# Build / dist
build/
dist/
*.egg-info/
